/* Centrar en pantalla */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

/* Caja principal */
.calculadora {
    width: 260px;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
}

/* Display */
.calculator-display {
    display: block;
    width: 100%;
    height: 50px;

    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;

    text-align: right;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 10px;

    box-sizing: border-box;
}

/* Grid de botones */
.calculator-keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Botones */
.calculadora-boton {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;

    height: 50px;

    font-size: 16px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.operator {
 background-color: #c27894;
 border: 1px solid #632b40;
}